table.primero {
  background-image: url(fondomar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border: 0px solid white;
  padding: 10px 15px;
}
body {
  margin-left: 15%;
  margin-right: 15%;
}
img.logo {
  height: 180px;

}
td.segundo {
  width: 50%;
}
span.grande {
  font-weight: bold;
  font-size: 30px;
}
p.colabora {
  font-size: 20px;
}
img.caña {
  width: 130px;
  height: 130px;
}
a {
  text-decoration: none;
  color: #094D95
}
